body {
  background-color: gray;
  padding: 0px 0px 1000px 0px;
  font-family: arial;
  padding-top: 30px;
}

.hello-world-header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 30px;
}

.hello-world-body {
  display: flex;
  column-gap: 20px;
  color: red;
  align-items: center;
  justify-content: center;
}